# Dependencies
node_modules/

# Build outputs
lib/
*.tsbuildinfo

# OS files
.DS_Store
*.pem

# IDE
.idea/
*.iml
.vscode/

# Android
.gradle/
local.properties
*.keystore
!debug.keystore
**/android/.cxx/
**/android/build/

# iOS
example/ios/
**/ios/*.xcodeproj/xcuserdata/
**/ios/*.xcworkspace/xcuserdata/

# Example app
example/node_modules/
example/android/

# Expo
example/.expo/
expo-env.d.ts

# Misc
*.log
.env
android/.settings/org.eclipse.buildship.core.prefs
